# apps/api
NODE_ENV=development
PORT=4000
MONGODB_URI=mongodb://localhost:27017/otty-v2
JWT_SECRET=replace-me
LINE_CHANNEL_ID=
LINE_CHANNEL_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=
WEB_URL=http://localhost:3000

# apps/web
NEXT_PUBLIC_API_BASE_URL=http://localhost:4000
NEXT_PUBLIC_LIFF_ID=
NEXT_PUBLIC_APP_ENV=local

